{% extends 'short_url/base.html' %} 

{% block main %}
<form action="add" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="user_name" class="form-label">Account Name</label>
    <input type="text" class="form-control" id="user_name" name="user_name"/>
  </div>
  <div class="mb-3">
    <label for="full_url" class="form-label">Full URL</label>
    <input type="text" class="form-control" id="full_url" name="full_url"/>
  </div>
  <div class="mb-3">
    <label for="url_name" class="form-label">URL Name</label>
    <input type="text" class="form-control" id="url_name" name="url_name"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock main %}
